.CodeEditorContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.toolsBar {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    color: white;
}

.toolsBar-light {
    background-color: #6a8a98;
}

.toolsBar-dark {
    background-color: #1e1e1e;
}

.CodeMirror,
.react-codemirror2 {
    min-height: calc(100% - 40px) !important;
    height: 100% !important;
}

.CodeMirror-sizer {
    min-height: calc(100% - 40px) !important;
}

.noConnection__container {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noConnection__container > button {
    background-color: #721c24;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
