header {
    background-color: #282c34;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 1vmin);
    color: white;
}

h1 {
    text-align: center;
    color: #61dafb;
}

a {
    text-decoration: none;
}
.App-logo {
    height: 40px;
    pointer-events: none;
}

.light-theme {
    background-color: var(--background-light);
}

.dark-theme {
    background-color: var(--background-dark);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
