.Footer {
    height: 50px;
}

.title {
    margin: 0;
}

.light_theme {
    background-color: var(--background-light);
    color: var(--text-dark, #dddddd);
}

.dark_theme {
    background-color: var(--background-dark);
    color: var(--text-light, #919191);
}

