.app-container {
    background-color: #1c1c1c;
    height: 100%;
}

main {
    /* min-height: calc(100vh - $header-height - $footer-height); */
    min-height: calc(100dvh - (50px + 50px));;
    /* height: calc(100% - (50px + 50px)); */
}

.footer__hidden {
    height: calc(100% - (50px)) !important;
}


.light_theme {
    background-color: #7496a6;
  }
  
  .dark_theme {
    background-color: #252525;
  }
  