.app-container {
    background-color: #1c1c1c;
    height: 100%;
}

main {
    /* min-height: calc(100vh - $header-height - $footer-height); */
    min-height: calc(100dvh - (50px + 50px));;
    height: calc(100% - (50px + 50px));
}